node_modules
public
.tmp
tmp/*
.sass-cache
client/bower_components
bundle
.gradle
.idea
.env
chartsgh-dd096-firebase-adminsdk-0vlv9-e16449b2a6.json
service-key
chartsgh-dd096-firebase-adminsdk-0vlv9-9e3e6b73a1.json
build