.type-selector {
  @include borderBottom;
  padding-bottom: 10px;

  span {
    margin: 5px;
    font-size: larger;
    display: inline-block;
    font-weight: bold;
  }

  button {
    @include chart-buttons;
  }
}