* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

#app {
  padding: 10px
}

.container {
  width: 100%;
}

.clearfix {
  content: '';
  display:table;
  clear:both;
}

a {
  text-decoration: none;
}

.view {
  float:right;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid lightgrey;
  width: 64%;
  margin: 30px 0px;

  &:hover {
    box-shadow: 0 7px 25px rgba(0,0,0,.3);
    transform: scale(1);
  }
}

select {
  height: 25px;
  border-radius: 4px;
}

.display-chart {
  margin:30px 0px;
}