.modal {
  @include borders;
  height: 130px;
  box-shadow: 10px 10px 5px #888888;
  z-index: 3;
  padding: 30px 10px;
  background: rgb(240,249,255); /* Old browsers */
  background: -moz-linear-gradient(bottom, rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
  position: absolute;
  width: 50%;
  left: 25%;
  top: 50%;

  form {
    label {
      display: block;
      @include borderBottom;
      font-weight:bold;

      span {
        float:right;
        color:grey;
        cursor: pointer;
        margin: 0px 10px 0px;

        &:hover {
          color:red;
        }
      }
    }
    .entry-fields {
      height: 30px;
      margin: 10px;
      background: white;
      width:80%;
    }

    input[type="submit"]{
      margin: 3px 10px;
      display: block;
      @include chart-buttons;
    }
  }
}