
aside {
  @include borders;
  display: inline-block;
  padding: 10px;
  width: 35%;
  margin: 30px 0px;

  &:hover {
    box-shadow: 0 7px 25px rgba(0,0,0,.3);
    transform: scale(1.01);
  }

  .tooltip {
    z-index:10;
    background: $header-color;
    position: absolute;
    border: 1px solid deepskyblue;
    top: 40px;
    display: none;
    padding: 3px;
    width: 106px;
    color:darkblue;
    border-radius:4px;
  }

  #remove-item {
    @include action-buttons ( '../../assets/images/remove-item.png' );

    &:hover > .tooltip {
        display: block;
      }
  }

  #add-item {
    @include action-buttons ( '../../assets/images/add-item.png' );

    &:hover > .tooltip {
      display: block;
    }
  }

  table {
    width:100%;
    border-collapse: collapse;

    caption {
      font-weight: bold;
      padding: 5px;
      font-size: larger;
    }

    thead {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+40 */
      background: rgb(252,255,244); /* Old browsers */
      background: -moz-linear-gradient(bottom, rgba(252,255,244,1) 2%, rgba(223,229,215,1) 42%); /* FF3.6-15 */
      background: -webkit-linear-gradient(bottom, rgba(252,255,244,1)2%,rgba(223,229,215,1) 42%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to top, rgba(252,255,244,1) 2%,rgba(223,229,215,1) 42%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dfe5d7',GradientType=0 ); /* IE6-9 */
      @include borderBottom;
    }

    td, th {
      padding: 5px 0px;
      text-align: center;
    }
  }
}